<section class="skills">
    <h2 class="skills__h2">Skills</h2>

    <ul class="skills__list">
        <li>    <div class="skills__container">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                ./images/skills/img1_lg-@1x.jpg 1x,
                ./images/skills/img1_lg-@1x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/skills/img1_md-@1x.jpg 1x,
                ./images/skills/img1_md-@1x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.5px)"
                srcset="
                ./images/skills/img1_sm-@1x.jpg 1x,
                ./images/skills/img1_sm-@2x.jpg 2x
                "
              />
                <img src="./images/skills/img1_sm-@1x.jpg" alt="men-speking">
            </picture>
            <h3>Speaking</h3>
            <p>Improve your English skills and confidence. Live classes and interactive lessons online. 20% extra free for 
                a limited time only
                
                Learn English online and improve your 
                skills through our high-quality courses and resources – all designed for adult language learners.</p>
                <button class="btn__skills" type="button">Learn more</button>
        </div></li>
        <li>    <div class="skills__container">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                ./images/skills/img2_lg-@1x.jpg 1x,
                ./images/skills/img2_lg-@1x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/skills/img2_md-@1x.jpg 1x,
                ./images/skills/img2_md-@1x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.5px)"
                srcset="
                ./images/skills/img2_sm-@1x.jpg 1x,
                ./images/skills/img2_sm-@2x.jpg 2x
                "
              />
                <img src="./images/skills/img2_sm-@1x.jpg" alt="men-speking">
            </picture>
            <h3>Writting</h3>
            <p>One of the most important and extensive areas of natural science, the science that studies substances, also their composition </p>
            <button class="btn__skills" type="button">Learn more</button>
        </div></li>
        <li>    <div class="skills__container">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                ./images/skills/img3_lg-@1x.jpg 1x,
                ./images/skills/img3_lg-@1x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/skills/img3_md-@1x.jpg 1x,
                ./images/skills/img3_md-@1x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.5px)"
                srcset="
                ./images/skills/img3_sm-@1x.jpg 1x,
                ./images/skills/img3_sm-@2x.jpg 2x
                "
              />
                <img src="./images/skills/img3_sm-@1x.jpg" alt="men-speking">
            </picture>
            <h3>Readding</h3>
            <p>perception and response actions 
                of the user resulting from the use and
                or up coming use of the product, 
                system or service</p>
                <button class="btn__skills" type="button">Learn more</button>
            </div></li>
        <li>    <div class="skills__container">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                ./images/skills/img4_lg-@1x.jpg 1x,
                ./images/skills/img4_lg-@1x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                ./images/skills/img4_md-@1x.jpg 1x,
                ./images/skills/img4_md-@1x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.5px)"
                srcset="
                ./images/skills/img4_sm-@1x.jpg 1x,
                ./images/skills/img4_sm-@2x.jpg 2x
                "
              />
                <img src="./images/skills/img4_sm-@1x.jpg" alt="men-speking">
            </picture>
            <h3>Listening</h3>
            <p>Here you can find activities to practise your listening skills. Listening will help you to improve your understanding </p>
            <button class="btn__skills" type="button">Learn more</button>
        </div></li>
    </ul>











</section>