.footer{
    
    &__inner-wrap{
        max-width: 290px;
        border-top: 1px solid #8F95A5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
}
&__logo{
        font-weight: 400;
        font-size: 24px;
        line-height: calc(36 / 24);
         color: #000000;
         margin-top: 26px;
}
&__logo--accent{
    color: #939393;
}
&__item::before{
    content:"";
    width: 10px;
    height: 10px;
}
&__list{
    display: flex;
    gap: 10px;
}
&__link{
    font-weight: 500;
    font-size: 11px;
    line-height: calc(16 / 11);
    color: #8F95A5;
}
}

